/**
 * File Name: responsive.css
 */
/**
 *	-------------------------------------------------------------------------------
 *	( 01 ) - Responsive Specifications
 *	-------------------------------------------------------------------------------
 *
 *  This part contains the responsive modifications for small devices widths
 *
 *	------
 *
 *  It has the following code:
 *
 *	   |
 *	   |-->  [ 01 ] - Width From 1200px to 0
 *	   |-->  [ 02 ] - Width From 992px to 0
 *	   |-->  [ 03 ] - Width From 768px to 0
 *	   |-->  [ 04 ] - Width From 480px to 0
 *	   |-->  [ 05 ] - Width From 320px to 0
 *	   |-->  [ 06 ] - Height Form 768px to 0
 *	   |-->  [ 05 ] - Height Form Maximmum to 768px
 *	   |-->  [ 08 ] - Height Form Maximmum to 900px
 *
 */
/*  [ 01 ] - Width From 1200px to 0
 ===================================== */
@media (max-width: 1200px) {
  /* Header */
  #header {
    text-align: left; }
    #header,
    #header #header-wrap {
      min-height: 80px;
      height: auto; }
    #header #header-wrap {
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10; }
    #header .logo,
    #header .mobile-menu-btn {
      top: 40px; }
    #header .header-meta {
      height: 80px;
      border-left: none;
      margin-left: 0; }
  .main-menu {
    left: 0;
    display: none; }
  #mobile-menu .mobile-menu {
    text-align: left; }
  .mobile-menu-btn {
    display: inline-block; }
  /* Banner Slider */
  .banner-slider .owl-nav [class*="owl-"] {
    margin-top: -10px !important; }
  /* Header Form 1 */
  .box-header-form.bh-form-2 #header-form-1 input[type="text"] {
    width: 180px; } }

/*  [ 02 ] - Width From 992px to 0
 ==================================== */
@media (max-width: 992px) {
  /* Column With Helper Classes Optimization */
  [class*="col-"][class*="pl-"] {
    padding-left: 15px; }
  [class*="col-"][class*="pr-"] {
    padding-right: 15px; }
  /* Banner Parallax */
  .banner-parallax,
  .banner-parallax .row > [class*="col-"] {
    height: auto !important;
    min-height: auto !important; }
  .banner-parallax .row {
    flex-direction: column;
    min-height: 600px; }
  .banner-parallax .row > [class*="col-"] {
    align-self: stretch;
    flex-grow: 1; }
  .banner-parallax [class*="col-"]:not(:first-child) .banner-center-box {
    padding-top: 0;
    margin-top: -30px; }
  .slide-content,
  .banner-center-box {
    position: initial; }
  .banner-center-box {
    display: block;
    top: 0;
    width: 100%;
    padding-top: 180px;
    transform: translateY(0); }
  /* Slider */
  .fullscreen {
    height: auto !important; }
  .banner-slider {
    height: auto !important; }
  /* Header Form 1 */
  .box-header-form {
    display: inline-block; }
    .box-header-form.bh-form-1 {
      width: 65%; }
    .box-header-form.bh-form-2 {
      width: 100%; }
      .box-header-form.bh-form-2 #header-form-1 {
        margin-bottom: -15px; }
        .box-header-form.bh-form-2 #header-form-1 .form-group {
          margin-bottom: 15px;
          width: calc(50% - 7.5px); }
          .box-header-form.bh-form-2 #header-form-1 .form-group:nth-child(even) {
            margin-right: 15px; }
        .box-header-form.bh-form-2 #header-form-1 input[type="text"] {
          width: 100%; }
  /* CTA Title 1 */
  #cta-title-1 .box-cta [class*="shape-"] {
    width: 150px; }
  /* Page Title */
  #page-title {
    text-align: center; }
    #page-title .breadcrumb {
      position: initial;
      margin-top: 20px; }
  /* Footer Mini */
  /* Scroll Top */
  .scroll-top-icon {
    display: none !important; } }

/*  [ 03 ] - Width From 768px to 0
==================================== */
@media (max-width: 768px) {
  /* Banner Parallax */
  .banner-parallax .row {
    min-height: 500px; }
  .slide-content h1 {
    font-size: 35px; }
  /* Header Form 1 */
  .box-header-form.bh-form-1 {
    width: 80%; }
  .box-header-form.bh-form-2 {
    width: 80%; }
    .box-header-form.bh-form-2 #header-form-1 {
      display: block; }
      .box-header-form.bh-form-2 #header-form-1 .form-group {
        margin-bottom: 15px;
        width: 100%; }
        .box-header-form.bh-form-2 #header-form-1 .form-group:nth-child(even) {
          margin-right: 15px; }
        .box-header-form.bh-form-2 #header-form-1 .form-group:last-child {
          float: none; }
      .box-header-form.bh-form-2 #header-form-1 input[type="text"] {
        width: 100%; }
  /* Popup Preview */
  .popup-preview .container {
    width: 100%; }
  /* Fun Facts */
  .fun-facts-boxes .box-counter {
    width: 50%; }
    .fun-facts-boxes .box-counter:nth-child(1), .fun-facts-boxes .box-counter:nth-child(2) {
      border-bottom: 1px solid #eaeaea; }
  /* Watch Video */
  #watch-video .video-preview {
    height: 350px; }
  /* CTA Title 1 */
  #cta-title-1 .box-cta {
    padding: 90px 80px; }
    #cta-title-1 .box-cta [class*="shape-"] {
      display: none; } }

/*  [ 04 ] - Width From 480px to 0
==================================== */
@media (max-width: 480px) {
  /* Header */
  .header-meta {
    padding: 0; }
  .header-btn {
    display: none; }
  /* Bannar Parallax */
  .signup-form input[type="email"] {
    width: 180px; }
  /* Banner Slider */
  .slide-content h1 {
    font-size: 30px;
    line-height: 45px; }
  /* Header Form 1 */
  .box-header-form.bh-form-1, .box-header-form.bh-form-2 {
    width: 100%; }
  /* Section Title */
  .section-title h2 {
    font-size: 26px; }
  /* Fun Facts */
  .fun-facts-boxes .box-counter {
    width: 100%;
    border-bottom: 1px solid #eaeaea; }
    .fun-facts-boxes .box-counter:last-child {
      border-bottom: none; }
  /* Watch Video */
  #watch-video .video-preview {
    height: 250px; }
  /* Our Services */
  /* Style Switcher */
  .style-switcher {
    display: none !important; } }

/*  [ 05 ] - Width From 320px to 0
==================================== */
/*  [ 06 ] - Height From 768px to 0
===================================== */
/*  [ 07 ] - Height From Maximmum to 768px
============================================ */
/*  [ 08 ] - Height From Maximmum to 900px
============================================ */
